.clock {
  color: rgba(0,0,0,0.3);
  padding: 0;
  min-width: initial;
  margin-left: auto;
  .time {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
  }

  &-wrapper {
    margin-left: auto;
  margin-right: 1vw;

    .seconds {
      display: none;
    }
    &.is-opened {

    }
  }
}
